@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: var(--bg);
    background-attachment: fixed;
    color: var(--text);
    padding: 30px;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    font-family: 'Tomorrow', sans-serif;
    margin-top: 0px;
    color: var(--headers);
}

a {
    color: cyan;
}
a:visited {
    color: #ffb624;
}

small {
    font-size: 0.5em;
    color: var(--text);
}

.gBox {
    align-items: center;
    padding: 1rem;
    position: relative;
    background: var(--bg);
    background-attachment: fixed;
    border-radius: 10px;
    /* below are necessary for gradient border */
    background-clip: padding-box;
    border: solid 5px transparent;
    margin-bottom: 2em;
}
.gBox::before { /* this entire thing is necessary for a gradient border */
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: var(--gradient);
    background-attachment: fixed;
}

.linkBox {
    min-width: 20em;
    margin: auto;
    margin-bottom: 3em;
    max-width: 90%;
    text-align: center;
}
#linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a.sLink {
    text-decoration: none;
    transition: 0.2s;
    font-size: 1.25em;
    font-family: 'Tomorrow', sans-serif;
    padding: 5px;
}
a.sLink:hover {
    color: var(--headers);
}
.sLink.discord {
    color: #5865F2
}
.sLink.discord:hover {
    background-color: #5865F2; /* blurple */
}
.sLink.tumblr {
    color: #34526f;
}
.sLink.tumblr:hover {
    background-color: #34526f;
}
.sLink.github {
    color: #39d353;
}
.sLink.github:hover {
    background-color: #39d353;
}
.sLink.youtube {
    color: red;
}
.sLink.youtube:hover {
    background-color: red;
}

#line {
    position: fixed;
    width: 5px;
    top: 0;
    bottom: 0;
    left: calc(50% - 2.5px);
    background: var(--gradient);
    background-attachment: fixed;
}