@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: var(--bg);
    background-attachment: fixed;
    color: var(--text);
    padding: 30px;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Tomorrow', sans-serif;
    margin-top: 0px;
    color: var(--headers);
}

a {
    color: var(--primary);
}
a:visited {
    color: var(--secondary);
}

small {
    font-size: 0.5em;
    color: var(--text);
}

.gBox {
    align-items: center;
    padding: 1rem;
    position: relative;
    background: var(--bg);
    background-attachment: fixed;
    border-radius: 10px;
    /* below are necessary for gradient border */
    background-clip: padding-box;
    border: solid 5px transparent;
    margin-bottom: 2em;
}
.gBox::before { /* this entire thing is necessary for a gradient border */
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: var(--gradient);
    background-attachment: fixed;
}
header.gBox {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    padding: 0;
}
div.ider {
    background: var(--gradient);
    background-attachment: fixed;
    width: 2px;
    height: 40px;
    display: block;
}
div.ider.mobileOnly {
    display: none;
}
#mobileNav {
    right: 1rem;
    top: 1rem;
    position: absolute;
    border-right: hidden;
    border-top: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    width: 10px;
    height: 10px;
    font-family: 'Tomorrow', sans-serif;
}
#closeNav {
    float: right;
    display: none;
    cursor: pointer;
}
a.button, select.button {
    text-decoration: none;
    color: var(--headers);
    padding: 16px;
    margin: 4px;
    background: transparent;
    border: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    cursor: pointer;
    display: block;
    text-align: center;
}
.button.active {
    color: var(--bg);
    background: var(--gradient);
    background-attachment: fixed;
}
select.button > option {
    background: var(--bg);
}

.linkBox {
    min-width: 20em;
    margin: auto;
    margin-bottom: 3em;
    max-width: 90%;
    text-align: center;
}
#linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a.sLink {
    text-decoration: none;
    transition: 0.2s;
    font-size: 1.25em;
    font-family: 'Tomorrow', sans-serif;
    padding: 5px;
}
a.sLink:hover {
    color: var(--headers);
}
.sLink.discord {
    color: #5865F2
}
.sLink.discord:hover {
    background-color: #5865F2; /* blurple */
}
.sLink.tumblr {
    color: #34526f;
}
.sLink.tumblr:hover {
    background-color: #34526f;
}
.sLink.github {
    color: #39d353;
}
.sLink.github:hover {
    background-color: #39d353;
}
.sLink.youtube {
    color: red;
}
.sLink.youtube:hover {
    background-color: red;
}
.sLink.mediawiki {
    color: #a11f63; /* according to the 2012 agora palette for blue accents */
}
.sLink.mediawiki:hover {
    background-color: #a11f63;
}
.sLink.ao3 {
    color: #970000;
}
.sLink.ao3:hover {
    background-color: #970000;
}

.interestContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: calc(1.5em - 10px);
}
.interestContainer div {
    margin: 10px;
    width: 200px;
    padding: 0;
}
.maskedImg {
    display: inline-block;
    width: 200px;
    height: 130px;
    background-color: var(--headers);
    color: transparent;
}
.maskedImg:hover {
    background-image: var(--gradient);
}

hr {
    height: 5px;
    background: var(--text);
    border: none;
    width: 150px;
}

#line {
    position: fixed;
    width: 5px;
    top: 0;
    bottom: 0;
    left: calc(50% - 2.5px);
    background: var(--gradient);
    background-attachment: fixed;
    z-index: -1;
}

#topOfMenu {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    height: 40px;
}
#topOfMenu > a > * {
    background-image: var(--headers);
    background-color: var(--headers);
}
#topOfMenu > a:hover > * {
    background-image: var(--gradient);
    background-color: var(--gradient);
}
#topOfMenu > a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
#logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-mask-image: url(imgs/cq-mask.svg);
    mask-image: url(imgs/cq-mask.svg);
}
#logoText {
    font-weight: bold;
    padding-left: 0.3em;
    font-size: 1.75em;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

@media (max-width: 800px) {
    body {
        padding-top: 30px;
        margin-top: 8px;
        overflow-x: hidden;
    }
    header.gBox {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex-direction: column;
        border-top: solid 5px transparent;
        display: none;
    }
    #mobileNav {
        display: block;
    }
    #mobileNav.open {
        display: none;
    }
    #closeNav {
        display: inline-block;
    }
    header.gBox.open {
        display: block;
    }
    div.ider {
        width: auto;
        height: 2px;
    }
    div.ider.mobileOnly {
        display: block;
    }
    .button {
        width: inherit;
    }
    #topOfMenu {
        margin: 10px;
    }
    a.button, select.button {
        padding: 20px;
        margin: 0px;
    }
}