:root {
    --bg: #1a1b23;
    --text: #b7b6c1;
    --headers: white;
    --gradient: linear-gradient(180deg, #ff9200 0%, #ffb624 25%, #fff953 50%, #6dffab 75%, #00ffff 100%);
    --primary: cyan;
    --secondary: #ffb624;
}