:root {
    --bg: #1a1b23;
    --text: #b7b6c1;
    --headers: white;
    --gradient: linear-gradient(180deg, rgba(35,255,214,1) 10%, rgba(118,153,231,1) 60%, rgba(191,114,233,1) 90%);
    --primary: #23ffd6;
    --secondary: #bf72e9;
}