body.light {
    --bg: white;
    --text: #1a1b23;
    --headers: black;
    --gradient: linear-gradient(180deg, rgb(0, 163, 133) 10%, rgb(60, 109, 214) 60%, rgba(191,114,233,1) 90%);
    --primary: #009b7e;
    --secondary: #9930d1;
}